.micButton {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background-color: gray;
}

.micButtonRecording {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    background-color: red;
}

.aiResponse {
    background-color: #f0f0f0;
    border-radius: 7px;
    border: 5px solid black;
    resize: none;
    width: 20vw;
    height: 50vh;
}

.pageHeader {
    border-bottom: 3px solid black;
    margin-bottom: 4vh;
    white-space: nowrap;
}

.with {
    color: green;
}

.without{
    color: red;
}